<div class="container">
    <h4>Superheroes - Details</h4>
    <!-- Retrieve and show the following customer info: firstName, lastName, age and gender -->
    
    <table class="table table-bordered">
  		<tbody>
  			<tr>
    			<td><b>First Name</b></td>
    			<td>{{ customer.firstName }}</td>
  			</tr>
  			<tr>
    			<td><b>Last Name</b></td>
    			<td>{{ customer.lastName }}</td>
  			</tr>
  			<tr>
    			<td><b>Age</b></td>
    			<td>{{ customer.age }}</td>
  			</tr>
  			<tr>
    			<td><b>Gender</b></td>
    			<td>{{ customer.gender }}</td>
  			</tr>
  		</tbody>
	</table>
    
    <p><a class="btn btn-info" href="#/list">Customer List</a></p>
</div>